// Footer

footer {
    padding: $section-padding;
    background-color: $orange;
    margin: 0px 0px 10px 0px;
    p {
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    a {
        color: $light;
    }
}
