// Header

header {
    background-color: $orange;
    margin: 10px 0px 100px 0px;

    h1 {
        @include flatten;
    }

    a {
        text-decoration: none;
        color: $light;
    }

    .header-row-01 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: em(16);
    }

    @include mq(em(600)) {
        .header-row-01 {
            padding: em(20);
        }
    }
}
