// Main

main {
    padding: $section-padding;
}
section {
    padding: 0px 25px;
}

// Main Banner
.home-banner-wrapper {
    text-align: center;
}
.home-banner {
    height: 100%;
    width: 300px;
}

// Project Title and Description
.capstone-card {
    grid-area: capstone;
    margin-top: 50px;
}
.movieapp-card {
    grid-area: movieapp;
    margin-top: 50px;
}
.portfolio-card {
    grid-area: portfolio;
    margin-top: 50px;
}
.brochure-card {
    grid-area: brochure;
    margin-top: 50px;
}
// Project Link to Live Site
.capstone-live-link {
    grid-area: capstone-link;
}
.movieapp-live-link {
    grid-area: movieapp-link;
}
.portfolio-live-link {
    grid-area: portfolio-link;
}
.brochure-live-link {
    grid-area: brochure-link;
}
// Grid Styling for Project List
.home-introduction {
    h2 {
        font-size: 2em;
        line-height: 34px;
    }
}
.home-project-list {
    column-gap: 50px;
    display: grid;
    grid-template-areas:
        "capstone"
        "capstone-link"
        "movieapp"
        "movieapp-link"
        "portfolio"
        "portfolio-link"
        "brochure"
        "brochure-link";
    p {
        font-size: 1.2em;
        line-height: 24px;
    }
}

@media only screen and (min-width: 606px) and (max-width: 1082px) {
    .home-project-list {
        grid-template-areas:
            "capstone movieapp"
            "capstone-link movieapp-link"
            "portfolio brochure"
            "portfolio-link brochure-link";
    }

    .home-introduction {
        h2 {
            font-size: 2.25em;
            line-height: 40px;
        }
    }
}

@media only screen and (min-width: 1082px) {
    .home-project-list {
        grid-template-areas:
            "capstone movieapp portfolio brochure"
            "capstone-link movieapp-link portfolio-link brochure-link";
    }
    .home-introduction {
        h2 {
            font-size: 3em;
            line-height: 54px;
            margin-bottom: 0.6em;
        }
    }
}
