// About

.about-column-one {
    grid-area: about-text;
}
.about-column-two {
    grid-area: about-image;
}
.about-wrapper {
    display: grid;
    grid-template-areas: "about-text about-image";
}
.headshot {
    width: 300px;
    height: 100%;
    opacity: 0.75;
    margin: 0px 25px;
    border-radius: 200px;
    border: 5px solid white;
}
.headshot:hover {
    transform: scale(1.05);
    transition-duration: 0.4s;
}
@media only screen and (max-width: 880px) {
    .about-wrapper {
        display: grid;
        grid-template-areas:
            "about-image"
            "about-text";
        p {
            font-size: 1.2em;
        }
        h2 {
            font-size: 2em;
        }
    }
    .headshot-wrapper {
        text-align: center;
    }
    .headshot {
        margin-bottom: 30px;
        width: 200px;
    }
}
