// Project Technologies List
.project-technologies {
    list-style-type: none;
    margin: 10px 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    li {
        margin: 10px 10px;
        padding: 5px 10px;
        border: 2px solid white;
        border-radius: 10px;
    }
}
.project-technologies li:hover {
    color: $orange;
    background-color: white;
    transition-duration: 0.4s;
}

// Project Video
.project-detail-video {
    display: flex;
    justify-content: center;
}

// Project Gallery
.project-detail-gallery {
    text-align: center;
    img {
        height: 100%;
        width: 350px;
        margin: 10px 10px;
    }
}

// Video
video {
    width: 320px;
    height: 240px;
}

// Codepen
iframe {
    width: 100%;
}
code {
    background-color: $orange;
    color: white;
    font-size: 0.8em;
    padding: 2px 6px;
}

// Links to Live Site, Github
.project-detail-links-buttons {
    margin-right: 10px;
}

// Contact me message at the end of every project
.project-contact-me {
    text-align: center;
    margin-top: 25px;
}
