// Settings

// Colors
$dark: #1c1c1c;
$light: #fcfcfc;
$grey: #cec3c2;
$darkGrey: #29343a;
$orange: #eb7020;

// Type
$bodyFont: "Roboto", sans-serif;
$headingFont: "Abril Fatface", serif;

// Layout
$section-padding: em(16) em(20);
